@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
* {
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
}
body {
  background: #eee;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eee;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #3f4137;
}

label {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #3f4137;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 10%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  border: 2px solid #3f4137;
}

button[type="submit"] {
  background-color: #fdc073;
  color: #3f4137;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #fcb150;
}

.flash {
padding: 10px;
}

.flash.success {
  font-size: 2em;
  border: 1px solid #21db56;
  background: #aeffc5;
}
.flash.error {
  font-size: 2em;
  border: 1px solid #ff4343;
  background: #ff9c9c;
}

.link {
  color: #3f4137;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 15px;
  margin-top: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  background-color: #fdc073;
  border: 2px solid #fdc073;
  white-space: nowrap;
}

.link a {
    color: #966f6f;
    text-decoration: none;
}