.form-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
  max-height: 35%;
  max-width: 35%;
  border: 1px solid #3f4137;
  border-radius: 5px;
  padding: 5px;
  width: 35%;
  height: 35%;
  margin-bottom: 10px;
}
.form-group1 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter:alpha(opacity:0.5);
  width:110px;
  font-size: 0.5em;
}
.form-group input[type="submit"] {
  background-color: #fdc073;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    color: #966f6f;
    text-decoration: none;
}

.form-group input[type="submit"]:hover {
  background-color: #ffa500;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flash {
padding: 10px;
}

.flash.success {
  font-size: 2em;
  border: 1px solid #21db56;
  background: #aeffc5;
}
.flash.error {
  font-size: 2em;
  border: 1px solid #ff4343;
  background: #ff9c9c;
}
